## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [6]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

# Load the dataset
file_path = '/Users/rygofoss/Desktop/AI Class Homework/Starter_Code/Resources/client_dataset.csv'
data = pd.read_csv(file_path)

In [7]:


# View the column names
print("Column names:")
print(data.columns)

Column names:
Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
print("Basic statistics:")
print(data.describe())

Basic statistics:
          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.
print("First few rows of the data:")
print(data.head())

First few rows of the data:
       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number
0     1096.80     762.71         7.50  105            1
1       24.95      15.09         1.49   21            0
2       13.52       7.86         1.68   39            6
3       36.42      24.85         1.23   29            3
4      195.10     108.17        46.43   20            1

In [5]:
# What three item categories had the most entries?
top_categories = data['category'].value_counts().head(3)
print("Top three item categories with the most entries:")
print(top_categories)

Top three item categories with the most entries:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [6]:
# For the category with the most entries, which subcategory had the most entries?
top_category = top_categories.index[0]
top_subcategories = data[data['category'] == top_category]['subcategory'].value_counts().head(1)
print(f"Subcategory with the most entries in the top category ({top_category}):")
print(top_subcategories)

Subcategory with the most entries in the top category (consumables):
subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [7]:
# Which five clients had the most entries in the data?
top_clients = data['client_id'].value_counts().head(5)
print("Five clients with the most entries in the data:")
print(top_clients)

Five clients with the most entries in the data:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [8]:
# Store the client ids of those top 5 clients in a list.
top_client_ids = top_clients.index.tolist()
print("Top 5 client IDs:")
print(top_client_ids)

Top 5 client IDs:
[33615, 66037, 46820, 38378, 24741]

In [9]:
# How many total units (the qty column) did the client with the most entries order order?
top_client_id = top_client_ids[0]
total_units_top_client = data[data['client_id'] == top_client_id]['qty'].sum()
print(f"Total units ordered by the client with the most entries (Client ID: {top_client_id}):")
print(total_units_top_client)

Total units ordered by the client with the most entries (Client ID: 33615):
64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [8]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
data['subtotal'] = data['unit_price'] * data['qty']
print("Subtotal column added:")
print(data[['unit_price', 'qty', 'subtotal']].head())

Subtotal column added:
   unit_price  qty   subtotal
0     1096.80  105  115164.00
1       24.95   21     523.95
2       13.52   39     527.28
3       36.42   29    1056.18
4      195.10   20    3902.00

In [9]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
data['shipping_price'] = data['unit_weight'].apply(lambda x: 7 * x if x > 50 else 10 * x)
print("Shipping price column added:")
print(data[['unit_weight', 'shipping_price']].head())

Shipping price column added:
   unit_weight  shipping_price
0         7.50            75.0
1         1.49            14.9
2         1.68            16.8
3         1.23            12.3
4        46.43           464.3

In [10]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
data['total_price'] = data['subtotal'] + data['shipping_price']
data['total_price'] += data['total_price'] * 0.0925
print("Total price column added:")
print(data[['subtotal', 'shipping_price', 'total_price']].head())

Total price column added:
    subtotal  shipping_price    total_price
0  115164.00            75.0  125898.607500
1     523.95            14.9     588.693625
2     527.28            16.8     594.407400
3    1056.18            12.3    1167.314400
4    3902.00           464.3    4770.182750

In [11]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
# Create a column for the cost of each line using unit cost, qty, and shipping price
data['line_cost'] = data['unit_cost'] * data['qty'] + data['shipping_price']
print("Line cost column added:")
print(data[['unit_cost', 'qty', 'shipping_price', 'line_cost']].head())

Line cost column added:
   unit_cost  qty  shipping_price  line_cost
0     762.71  105            75.0   80159.55
1      15.09   21            14.9     331.79
2       7.86   39            16.8     323.34
3      24.85   29            12.3     732.95
4     108.17   20           464.3    2627.70

In [12]:
# Create a column for the profit of each line using line cost and line price
data['profit'] = data['total_price'] - data['line_cost']
print("Profit column added:")
print(data[['total_price', 'line_cost', 'profit']].head())

Profit column added:
     total_price  line_cost        profit
0  125898.607500   80159.55  45739.057500
1     588.693625     331.79    256.903625
2     594.407400     323.34    271.067400
3    1167.314400     732.95    434.364400
4    4770.182750    2627.70   2142.482750

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [13]:
# Check your work using the totals above


# Order ID 2742071
order_2742071_total = data[data['order_id'] == 2742071]['total_price'].sum()
print(f"Order 2742071 Total Price: {order_2742071_total} (Expected: 152811.89)")

# Order ID 2173913
order_2173913_total = data[data['order_id'] == 2173913]['total_price'].sum()
print(f"Order 2173913 Total Price: {order_2173913_total} (Expected: 162388.71)")

# Order ID 6128929
order_6128929_total = data[data['order_id'] == 6128929]['total_price'].sum()
print(f"Order 6128929 Total Price: {order_6128929_total} (Expected: 923441.25)")

Order 2742071 Total Price: 139844.51202499997 (Expected: 152811.89)
Order 2173913 Total Price: 119838.35704999999 (Expected: 162388.71)
Order 6128929 Total Price: 752748.745475 (Expected: 923441.25)

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [14]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

client_ids = [33615, 66037, 46820, 38378, 24741]
client_totals = data[data['client_id'].isin(client_ids)].groupby('client_id')['total_price'].sum()
print("Total spending for each of the specified clients:")
print(client_totals)

Total spending for each of the specified clients:
client_id
24741    7.667848e+07
33615    6.392918e+06
38378    9.172866e+06
46820    8.006333e+06
66037    8.746255e+06
Name: total_price, dtype: float64

In [16]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
# client IDs
client_ids = [33615, 66037, 46820, 38378, 24741]

# necessary columns
summary = data[data['client_id'].isin(client_ids)].groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum',
    'line_cost': 'sum',
    'profit': 'sum'
}).reset_index()

# Rename the columns to match output
summary.columns = ['client_id', 'qty', 'shipping_price', 'line_price', 'line_cost', 'line_profit']

# Display the summary 
print("Summary DataFrame:")
print(summary)

Summary DataFrame:
   client_id     qty  shipping_price    line_price    line_cost   line_profit
0      24741  239862          9365.6  7.667848e+07  40571816.94  3.610666e+07
1      33615   64313         12609.4  6.392918e+06   4358938.42  2.033980e+06
2      38378   73667         11895.0  9.172866e+06   6217160.58  2.955706e+06
3      46820   75768         11094.8  8.006333e+06   5416837.60  2.589495e+06
4      66037   43018         10017.3  8.746255e+06   5619348.43  3.126907e+06

In [36]:
# Format the data and rename the columns to names suitable for presentation.

# Create the summary DataFrame with the provided data
data_dict = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

summary = pd.DataFrame(data_dict)

# Rename the columns
summary.columns = [
    'Client ID', 
    'Total Units Purchased', 
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Display the formatted DataFrame
print("Formatted Summary DataFrame:")
print(summary)

# Define the money columns. 

import pandas as pd

# Create the summary DataFrame with the provided data
data_dict = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

summary = pd.DataFrame(data_dict)

# Rename the columns
summary.columns = [
    'Client ID', 
    'Total Units Purchased', 
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define the money columns
money_columns = [
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define a function that converts a dollar amount to millions
def to_millions(x):
    return x / 1e6

# Apply the to_millions function to the money columns
summary[money_columns] = summary[money_columns].map(to_millions)

# Display the formatted DataFrame
print("Formatted Summary DataFrame with Money Columns in Millions:")
print(summary)

# Define a function that converts a dollar amount to millions.
# summary DataFrame with the provided data
data_dict = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

summary = pd.DataFrame(data_dict)

# Rename the columns
summary.columns = [
    'Client ID', 
    'Total Units Purchased', 
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define the money columns
money_columns = [
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define a function that converts a dollar amount to millions
def to_millions(x):
    return x / 1e6

# Apply the to_millions function to the money columns
summary[money_columns] = summary[money_columns].map(to_millions)

# Display the formatted DataFrame
print("Formatted Summary DataFrame with Money Columns in Millions:")
print(summary)


# Apply the currency_format_millions function to only the money columns. 

# Create the summary DataFrame with the provided data
data_dict = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

summary = pd.DataFrame(data_dict)

# Rename the columns
summary.columns = [
    'Client ID', 
    'Total Units Purchased', 
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define the money columns
money_columns = [
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define a function that converts a dollar amount to millions
def to_millions(x):
    return x / 1e6

# Apply the to_millions function to the money columns
summary[money_columns] = summary[money_columns].map(to_millions)

# Display the formatted DataFrame
print("Formatted Summary DataFrame with Money Columns in Millions:")
print(summary)


# Rename the columns to reflect the change in the money format. 

# Create the summary DataFrame with the provided data
data_dict = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

summary = pd.DataFrame(data_dict)

# Rename the columns
summary.columns = [
    'Client ID', 
    'Total Units Purchased', 
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define the money columns
money_columns = [
    'Total Shipping Price', 
    'Total Revenue', 
    'Total Cost', 
    'Total Profit'
]

# Define a function that converts a dollar amount to millions
def to_millions(x):
    return x / 1e6

# Apply the to_millions function to the money columns
summary[money_columns] = summary[money_columns].map(to_millions)

# Rename the columns to reflect the change in the money format
summary.rename(columns={
    'Total Shipping Price': 'Total Shipping Price (Millions)', 
    'Total Revenue': 'Total Revenue (Millions)', 
    'Total Cost': 'Total Cost (Millions)', 
    'Total Profit': 'Total Profit (Millions)'
}, inplace=True)


# Display the formatted DataFrame
print("Formatted Summary DataFrame with Renamed Money Columns:")
print(summary)

Formatted Summary DataFrame:
   Client ID  Total Units Purchased  Total Shipping Price  Total Revenue  \
0      33615                  64313            1828984.89     8377308.52
1      66037                  43018            1395151.85    10259514.79
2      46820                  75768            1601448.84     9743794.36
3      38378                  73667            3429455.40    12906550.87
4      24741                 239862            5126448.37    82268892.02

    Total Cost  Total Profit
0   6175313.91    2201994.61
1   7004482.98    3255031.81
2   7007191.64    2736602.72
3   9634720.98    3271829.89
4  45688899.71   36579992.31
Formatted Summary DataFrame with Money Columns in Millions:
   Client ID  Total Units Purchased  Total Shipping Price  Total Revenue  \
0      33615                  64313              1.828985       8.377309
1      66037                  43018              1.395152      10.259515
2      46820                  75768              1.601449       9.743794
3      38378                  73667              3.429455      12.906551
4      24741                 239862              5.126448      82.268892

   Total Cost  Total Profit
0    6.175314      2.201995
1    7.004483      3.255032
2    7.007192      2.736603
3    9.634721      3.271830
4   45.688900     36.579992
Formatted Summary DataFrame with Money Columns in Millions:
   Client ID  Total Units Purchased  Total Shipping Price  Total Revenue  \
0      33615                  64313              1.828985       8.377309
1      66037                  43018              1.395152      10.259515
2      46820                  75768              1.601449       9.743794
3      38378                  73667              3.429455      12.906551
4      24741                 239862              5.126448      82.268892

   Total Cost  Total Profit
0    6.175314      2.201995
1    7.004483      3.255032
2    7.007192      2.736603
3    9.634721      3.271830
4   45.688900     36.579992
Formatted Summary DataFrame with Money Columns in Millions:
   Client ID  Total Units Purchased  Total Shipping Price  Total Revenue  \
0      33615                  64313              1.828985       8.377309
1      66037                  43018              1.395152      10.259515
2      46820                  75768              1.601449       9.743794
3      38378                  73667              3.429455      12.906551
4      24741                 239862              5.126448      82.268892

   Total Cost  Total Profit
0    6.175314      2.201995
1    7.004483      3.255032
2    7.007192      2.736603
3    9.634721      3.271830
4   45.688900     36.579992
Formatted Summary DataFrame with Renamed Money Columns:
   Client ID  Total Units Purchased  Total Shipping Price (Millions)  \
0      33615                  64313                         1.828985
1      66037                  43018                         1.395152
2      46820                  75768                         1.601449
3      38378                  73667                         3.429455
4      24741                 239862                         5.126448

   Total Revenue (Millions)  Total Cost (Millions)  Total Profit (Millions)
0                  8.377309               6.175314                 2.201995
1                 10.259515               7.004483                 3.255032
2                  9.743794               7.007192                 2.736603
3                 12.906551               9.634721                 3.271830
4                 82.268892              45.688900                36.579992

In [29]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.

# updated summary DataFrame with the provided data
data_dict = {
    'Client ID': [24741, 38378, 66037, 46820, 33615],
    'Total Units Purchased': [239862, 73667, 43018, 75768, 64313],
    'Total Shipping Price (Millions)': [5.126448, 3.429455, 1.395152, 1.601449, 1.828985],
    'Total Revenue (Millions)': [82.268892, 12.906551, 10.259515, 9.743794, 8.377309],
    'Total Cost (Millions)': [45.688900, 9.634721, 7.004483, 7.007192, 6.175314],
    'Total Profit (Millions)': [36.579992, 3.271830, 3.255032, 2.736603, 2.201995]
}

summary = pd.DataFrame(data_dict)

# DataFrame by "Total Profit (Millions)" from highest to lowest
sorted_summary = summary.sort_values(by='Total Profit (Millions)', ascending=False)

# Display the sorted DataFrame
print("Sorted Summary DataFrame by Total Profit (Millions):")
print(sorted_summary)

Sorted Summary DataFrame by Total Profit (Millions):
   Client ID  Total Units Purchased  Total Shipping Price (Millions)  \
0      24741                 239862                         5.126448
1      38378                  73667                         3.429455
2      66037                  43018                         1.395152
3      46820                  75768                         1.601449
4      33615                  64313                         1.828985

   Total Revenue (Millions)  Total Cost (Millions)  Total Profit (Millions)
0                 82.268892              45.688900                36.579992
1                 12.906551               9.634721                 3.271830
2                 10.259515               7.004483                 3.255032
3                  9.743794               7.007192                 2.736603
4                  8.377309               6.175314                 2.201995